<div class="container">
    <div class="header1">
        <div class="logo">
            <a class="logo-value" routerLink="/facebook">facebook</a>

        </div>
        <div class="logo-form">
            <form>
                <table class="login-controls">
                    <tr>
                        <td><label class="login-label">Email or phone</label></td>
                        <td><label class="login-label">password</label></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="text"></td>
                        <td><input class="submit-button" type="submit" value="Log in"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a  class="forgetten" href="#">forgetten password?</a></td>
                    </tr>
                   
                </table>
            </form>
        </div>
    </div>
    <div class="main-body">
        <div class="left-section">
            <p class="para1">Facebook helps you to connect with the <br> people in your life.</p>
            <img class="image" src="../../../assets/video/facepage.jpg" alt="">
        </div>
        <div class="right-section">

        </div>
    </div>
</div>
